.KanbanSidebar {
    background-color: #28314b;
    min-height: 100vh;
    max-height: 110vh;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    align-self: stretch;
}

.KanbanSidebar-bottomColumn {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
