.KanbanColumn {
    background-color: lightgrey;
    width: 12%;
    text-align: center;
}

.KanbanColumn-name {
    font-size: 1rem;
    margin-top: 1rem;
}

.KanbanColumn-numbers {
    font-size: 0.8rem;
}
